* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:  #d4d4d4;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #0e0e0e;
  font-family: Poppins, sans-serif;
  font-size: 1.25rem;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 20px;
    margin-top: -15px;
}

.header h1{
    background-color: #bd0000;
    padding: 5px;
    border-radius: 5px;
}

.card {
  margin: 20px auto;  
  background: rgb(123, 9, 172);
  background: linear-gradient(
    54deg,
    rgba(123, 9, 172, 1) 0%,
    rgba(82, 17, 161, 1) 37%,
    rgba(117, 10, 152, 1) 52%,
    rgba(81, 29, 126, 1) 72%,
    rgba(72, 33, 156, 1) 100%
  );
  padding: 20px;
  width: 800px;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h2{
    margin-top: 20px;
}

.border {
  border: 1px solid white;
  padding: 20px 30px;
}

.corpo{
    padding: 20px;
}

.atividades {
  margin-left: 50px;
}

.perfil {
  margin-left: 50px;
}

ul li{
    font-size: 16px;
    font-weight: 500;
}